{% extends "body.html" %}
{% block content %}

<div class="eliminar-container">
  <h1 class="titulo">🗑Eliminar Pedido</h1>

  <div class="eliminar-box">
    <h2 class="text-danger mb-4">¿Deseas eliminar este pedido?</h2>
    <p><strong>ID del pedido:</strong> {{ object.id_pedido }}</p>
    <p><strong>cliente:</strong> {{ object.id_cliente }}</p>
    <p><strong>Fecha:</strong> {{ object.fecha }}</p>
   


    <form method="post" class="eliminar-form">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">
        <i class='far fa-trash-alt'></i> Sí, eliminar
      </button>
      <a href="{% url 'apl_euphoria:pedido_lista' %}" class="btn btn-secondary">
        <i class='fas fa-times'></i> Cancelar
      </a>
    </form>
  </div>
</div>




<!-- Estilos CSS -->
 <style>
.eliminar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 40px 20px;
  min-height: 100vh;
}

.titulo {
  margin-bottom: 20px;
  font-size: 2em;
  text-align: center;
}

.eliminar-box {
  background-color: #fff0ff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0,0,0,0.15);
  width: 100%;
  max-width: 520px;
  font-family: sans-serif;
}
</style>


{% endblock %}