{% extends 'body.html' %}
{% load static %}

{% block title %}Lista de Marcas - Euphoria{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="card-title mb-0">Tabla de Marcas</h3>
    <a href="{% url 'apl_euphoria:marca_crear' %}" class="btn btn-primary btn-sm">
      <i class="fas fa-plus me-1"></i> Agregar Marca
    </a>
  </div>
  <div class="card-body">
    <table id="tabla-generica" class="table table-bordered table-striped dt-responsive nowrap" style="width:100%">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Detalles</th>
          <th>Precio</th>
          <th>Cantidades</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for marca in marca_cosmeticos %}
        <tr>
          <td>{{ marca.id_marca }}</td>
          <td>{{ marca.nombre }}</td>
          <td>{{ marca.detalles }}</td>
          <td>{{ marca.precio }}</td>
          <td>{{ marca.cantidades }}</td>
          
          <td class="text-center">
            <a href="{% url 'apl_euphoria:marca_editar' marca.id_marca %}" class="btn btn-info btn-sm" title="Editar">
              <i class='fas fa-edit'></i>
            </a>
            <a href="{% url 'apl_euphoria:marca_eliminar' marca.id_marca %}" class="btn btn-danger btn-sm" title="Eliminar">
              <i class='far fa-trash-alt'></i>
            </a> 
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
$(document).ready(function() {
    $('#tabla-generica').DataTable({
        responsive: true,
        autoWidth: false,
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
        },
    });
});
</script>
{% endblock %}