# Created by venv; see https://docs.python.org/3/library/venv.html

# Byte-compiled / optimized / DLL files
pycache/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Django stuff:
*.log
db.sqlite3
media/
staticfiles/
.env
*.sqlite3

# Migrations
**/migrations/
!*/migrations/init.py

# IDEs
.vscode/
.idea/db.sqlite3
