<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clientes</title>
</head>
<body>
  <h1>Modulo de clientes</h1> 
  
  
  <h1>Clientes Registrados</h1>

    <ul>
        {% for c in clientes %}
            <li>
                <strong>Nombre:</strong> {{ c.nombre }} <br>
                <strong>Correo:</strong> {{ c.correo }} <br>
                <strong>Teléfono:</strong> {{ c.numero_telefono }}
            </li>
            <hr>
        {% empty %}
            <li>No hay clientes registrados.</li>
        {% endfor %}
    </ul>
</body>
</html>