<!-- Sidebar/Navigation -->
{% load static %}

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar/Navigation -->
            <nav class="col-md-3 col-lg-2 d-md-block app-sidebar">
                <ul class="sidebar-menu">
                    <li>
                        <a href="#" class="active">
                            <i class="fas fa-home"></i>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-users"></i>
                            Clientes
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-box"></i>
                            Productos
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                            Ventas
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-file-invoice"></i>
                            Facturación
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-chart-bar"></i>
                            Reportes
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-cog"></i>
                            Configuración
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-question-circle"></i>
                            Soporte
                        </a>
                    </li>
                </ul>
            </nav>
