<!-- Sidebar/Navigation -->
{% load static %}
<div class="row">
    <ul class="sidebar-menu nav flex-column">
        <li class="nav-item">
            <a href="#" class="nav-link active">
                <i class="fas fa-home me-2"></i>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'apl_euphoria:cliente_lista' %}" class="nav-link">
                <i class="fas fa-users me-2"></i>
                Clientes
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'apl_euphoria:lista_administrador' %}" class="nav-link">
                <i class="fas fa-box me-2"></i>
                Administradores
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-shopping-cart me-2"></i>
                Ventas
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'apl_euphoria:factura_lista' %}" class="nav-link">
                <i class="fas fa-file-invoice me-2"></i>
                Facturación
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-chart-bar me-2"></i>
                Reportes
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-cog me-2"></i>
                Configuración
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'apl_euphoria:categoria_lista' %}" class="nav-link">
                <i class="fas fa-tags me-2"></i>
                Categorías
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'apl_euphoria:marca_lista' %}" class="nav-link">
                 <i class="far fa-copyright"></i>
                Marcas
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'apl_euphoria:producto_lista' %}" class="nav-link">
                <i class="fas fa-spray-can"></i>
                Productos
            </a>
        </li>



















        <li class="nav-item">
            <a href="{% url 'apl_euphoria:pago_lista' %}" class="nav-link">
                   <i class="fas fa-money-bill-wave"></i>
                 Pagos
                
            </a>
        </li>


        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-headset me-2"></i>
                Soporte
            </a>
        </li>
       
        
    </ul>
</div>