{% extends 'body.html' %}

{% load static %}

{% block content %}
<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="card-title mb-0">Tabla de PQRS</h3>
    <a href="{% url 'apl_euphoria:pqr_crear' %}" class="btn btn-primary btn-sm">
      <i class="fas fa-plus me-1"></i> Agregar PQR
    </a>
    
  </div>
  <div class="card-body">
    <table id="tabla-generica" class="table table-bordered table-striped dt-responsive nowrap" style="width:100%">
      <thead>
        <tr>
          <th>Id</th>
          <th>Cliente</th>
          <th>Direccion</th>
          <th>Teléfono</th>
          <th>Descripcion</th>
          <th>Administrador</th>
        </tr>
      </thead>
      <tbody>
        {% for pqr in object_list %}
        <tr>
          <td>{{pqr.id_pqr }}</td>
          <td>{{pqr.cliente }}</td>
          <td>{{pqr.direccion_cliente }}</td>
          <td>{{pqr.telefono_cliente }}</td>
          <td>${{pqr.descripcion }}</td>
          <td>{{compra.id_administrador}}</td>
          <td class="text-center">
            <a href="{% url 'apl_euphoria:pqr_editar' pqr.id_pqr %}" class="btn btn-info btn-sm" title="Editar">
              <i class='fas fa-edit'></i>
            </a>
            <a href="{% url 'apl_euphoria:pqr_eliminar' pqr.id_pqr %}" class="btn btn-danger btn-sm" title="Eliminar">
              <i class='far fa-trash-alt'></i>
            </a> 
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
$(document).ready(function() {
    $('#tabla-generica').DataTable({
        responsive: true,
        autoWidth: false,
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
        },
    });
});
</script>
{% endblock %}